.Select {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  height: 50%;
  width: 16%;
}

.Select select {
  white-space: nowrap;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff00;
  color: #333;
  cursor: pointer;
  appearance: none; /* Убираем стандартный стиль браузера */
  z-index: 100;
  text-overflow: ellipsis;
}

.Select select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.FilterSvg {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  bottom: 7px;
}
