/*ОБНУЛЕНИЕ СТИЛЕЙ - НАЧАЛО*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*ОБНУЛЕНИЕ СТИЛЕЙ - КОНЕЦ*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.App {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 1fr 200px;
}

header,
footer,
main {
  width: 100%;
  grid-column: 3 / span 8;
  grid-row: 1 span;
}
header nav {
  display: grid;
  grid-template-columns: 400px repeat(2, 1fr) 100px;
  gap: 0 20px;
}

nav a,
nav a img {
  width: 100%;
  padding: 5px 0;
}

#search_container,
#siteButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
#search_container {
  grid-column: 2 span;
  position: relative;
}
.SearchSvg {
  position: absolute;
  right: 15px;
  width: 16px;
  height: 16px;
}

#siteButtons {
  justify-content: start;
  gap: 20px;
}

.CartSvg,
.UserSvg,
.PhoneSvg,
.MailSvg {
  width: 32px;
  height: 32px;
}

.catalogHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 65px 35px;
}

h1 {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 32px;
  margin: 25px 0;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
  row-gap: 50px;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 350px;
  /* border: 1px solid #b2b2b2; */
  border-radius: 10px;
  font-family: "Montserrat", serif;
  box-shadow: 0px 15px 15px #b2b2b2;
  position: relative;
}

.productCard:hover {
  box-shadow: 0px 25px 100px #2a2a2a;
  transition: all 0.5s;
  transform: scale(1.1);
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.skeleton-container {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

/* Скелетон (серый фон с анимацией шимер) */
.skeleton {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  position: absolute;
  top: 0;
  left: 0;
}

/* Анимация шимер */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.productDescription {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.productCard h3 {
  font-size: 24px;
  font-weight: 700;
}

.productCategory,
.productPrice {
  position: relative;
}

button {
  cursor: pointer;
  position: relative;
}

.empty-state {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #666;
  font-size: 18px;
  padding: 50px 20px;
  background-color: #f9f9f9;
  border: 1px dashed #ccc;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 400px;
  animation: empty-state-show 0.5s;
}

/* Показываем элемент с анимацией */
@keyframes empty-state-show {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

footer {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-top: 1px solid #b2b2b2;
  font-size: 18px;
  gap: 45px;
}

.footerLogo,
.footerLogo a img {
  width: 100%;
  padding: 5px 0;
}

.footerSection {
  display: flex;
  flex-direction: column;
}
.footerSection a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
}
